body {
	background-image: url(imgs/tannedout.png);
	background-position: 53% top;
	background-repeat: no-repeat;
	background-size: 60%;
	font-family: "courier new", courier, sans-serif;
	color: rgb(126,56,67);
}

a {
	text-decoration: none;
	color: rgb(126,56,67);
}

.container {
	width: 96%;
	margin: 0 auto;
	padding: 50px;
}

.header {
	width: 40%;
	margin: -0.5em auto 1.5em;
	text-align: center;
	font-size: 3em;
	text-shadow: -2px -2px 2px #490e0e;
}

.quotebox {
	width: 38%;
	margin: 0 auto;
	padding: 4em 1em;
	text-align: center;
	color: snow;
	background-color: rgb(126,56,67)
}

.quote {
	padding: 1em;
	font-size: 1.2em;
}

.source {
	font-style: italic;
	margin-bottom: 3em;
}

.tweet-button {
	padding: 3px 6px;
	text-decoration: none;
}

.newquote, .tweet-button {
	outline: none;
	margin: 2em;
	border-radius: 0;
	border: none;
	font-family: "courier new", courier, sans-serif;
	font-size: 0.8em;
	background-color: snow;
	color: rgb(126,56,67);
	cursor: pointer;
}

.newquote:hover, .tweet-button:hover {
	background-color: rgb(126,56,67);
	color: snow;
	font-weight: bold;
}

.signature {
	text-align: center;
	margin-top: 10px;
	font-size: 0.8em;
}

.signature a:hover {
	text-decoration: underline;
}